@charset "UTF-8";

body,
html {
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100vh;
}

.wrap .section-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .section-wrap:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/slider_0.1.jpg), linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgb(255, 255, 255) 100%);
  ;
  background-size: cover;
  opacity: .2;
}

.section-wrap section {
  width: 100%;
  min-height: 150px;
  max-width: 1180px;
  margin: 0 auto;
  right: 45px !important;
  scroll-behavior: smooth;
}

.section-wrap .sec-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  right: inherit;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgb(255, 255, 255) 100%); */
}

.section-wrap .sec-01 .sec-01__txt {
  font-size: 40px;
  font-weight: 700;
}

.section-wrap .sec-01 .sec-01__bg--img {
  align-self: end;
  position: relative;
  width: 100%
}

.section-wrap .sec-01 .sec-01__bg--img .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  justify-content: space-around;
  width: 100%;
  width: calc(250px*8)
}

.section-wrap .sec-01 .sec-01__bg--img .slide-track i {
  position: relative;
  font-size: 55px;
  opacity: .3;
}

.section-wrap .sec-01 .sec-01__bg--img .slide-track i:nth-of-type(2n) {
  top: -80px;
}

.sec-01__btn-box .btn-box_txt {
  border: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  animation: y-shakeing 1s infinite;
}

@keyframes y-shakeing {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.section-wrap .sec-01 .sec-01__bg--txt {
  opacity: .2;
  line-height: 2.7;
  font-size: 15px;
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.section-wrap .sec-02 {
  background-color: pink;
  opacity: .4;
  scroll-behavior: smooth;
}

.section-wrap .sec-03 {
  background-color: pink;
  opacity: .6
}

.section-wrap .sec-04 {
  background-color: pink;
  opacity: .8
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 4));
  }
}

/*  */
.swiper {
  width: 600px;
  height: 300px;
}